In [1]:
import numpy as np
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import np_utils

Using TensorFlow backend.

In [2]:
df = pd.read_csv('new_data.csv')
new_df = df.drop(df.columns[[0]], axis='columns')

In [3]:
new_df = new_df.dropna()

In [4]:
new_df.head(5)

,PERIOD,ID,V_1,V_2,V_3,V_4,V_5,V_6,V_7,V_8,...,V_35,V_36,V_37,V_38,V_39,V_40,V_41,V_42,V_43,TARGET
24,1,9,30.0,18.0,11.0,1.0,1.0,0.0,1.0,1.0,...,0.0,0.0,140.10,3.222500,18.0,451.464486,140.10,0.0,0.0,0
96,1,33,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.50,0.000000,0.0,0.000000,2.50,0.0,0.0,1
128,3,43,31.0,31.0,1.0,1.0,1.0,0.0,1.0,1.0,...,7.0,0.0,157.31,24.364657,31.0,5657.603539,157.31,0.0,0.0,0
296,3,99,31.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,...,4.0,0.0,35.00,134.049089,0.0,0.000000,35.00,0.0,0.0,0
306,1,103,30.0,21.0,13.0,1.0,1.0,0.0,1.0,1.0,...,0.0,0.0,135.75,39.700000,10.0,427.448390,87.75,0.0,0.0,0

In [5]:
y = new_df['TARGET']
X = new_df.drop(['TARGET'], axis=1)

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=12345, test_size=0.33)

In [7]:
X_train = X_train.values
X_tets = X_test.values
y_train = y_train.values
y_test = y_test.values

In [20]:
model = Sequential()
model.add(Dense(9, input_dim=13, activation='relu'))
model.add(Dense(10, activation='relu'))
model.add(Dense(2, activation='sigmoid'))

In [21]:
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [ ]:
model.fit(X_train, y_train, epochs=100, batch_size=10)

In [ ]:
result = model.evaluate(X_test, y_test)
print(result)
print(model.predict(X_test))

In [ ]:
pred = pd.read_csv("test_target.csv')

print(model.predict(pred))